@model  IEnumerable<WebGridModel.SegUsuario>
@using GridMvc.Html
@{
    ViewBag.Title = "Consulta General de Usuarios del Sistema";
}

<h2 class="label label-success">Consulta General de los Usuarios dentro del sistema.</h2>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.id).Titled("Identificador").Filterable(true);
        columns.Add(c => c.strNombre).Titled("Nombre").Filterable(true);
        columns.Add().Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(p => Html.ActionLink("Edit", "Edit", new { id = p.id }));
    }).WithPaging(10).Sortable(true)
</div>